*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}


body{
    width: 100%;
}

#root{
    width: 100%;
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    /* border: 1px solid red; */
}

header h1{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.input-field{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem;
    gap: 20px;
}

.input-field input{
    width: 50%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background-color: #fff;
}

.Search-button{
    padding: 15px 20px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.Search-button:hover{
    background-color: #fff;
    color: #000;
    
}